<% include layout/header %>

    <div class="row" style="justify-content: center;">
        <div class="col-xs-12 col-md-6">
            <img style="max-width: 515px; padding-top: 20px;width: 100%;" id="picture"
                src="/product_images/<%-_id %>/<%-image %>">
        </div>
        <div class="col-xs-12 col-md-6" style="text-align: justify ;margin-top: 20px; ">
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                <%- content %>
            </p>

        </div>
    </div>
    <div class="container" style="text-align: center; padding-top: 20px;">
            <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Đầu Bếp Nhà Hàng</h1>
    </div>
    <div class="container" id="flex">
        <figure class="snip0016">
            <img class="end" src="/image/bep.jpg" alt="sample41" />
            <figcaption>
                <h5>Đầu Bếp <span> Jong HaLee </span> đến từ Bắc Kinh</h5>
                <p>Jong HaLee một cô gái hiền lành, yêu đời, cô ấy có một niềm đam mê mãnh liệt với các món ăn Trung
                    Hoa.</p>
                <a href="#"></a>
            </figcaption>
        </figure>
        <figure class="snip0016">
            <img class="end" src="/image/bep1.jpg" alt="sample42" />
            <figcaption>
                <h5>Bếp Trưởng <span> Trần Thiên Giang </span> đến từ Phúc Kiến</h5>
                <p>Trần Thiên Giang được biết với "triết lý Octo" về tám yếu tố tạo nên các món ăn của mình.</p>
                <a href="#"></a>
            </figcaption>
        </figure>
        <figure class="snip0016">
            <img class="end" src="/image/bep2.jpg" alt="sample43" />
            <figcaption>
                <h5>Đầu bếp<span> Tô Giang </span> đến từ Sơn Đông </h5>
                <p>Tô Giang là một nữ đầu bếp có cá tính mạnh mẽ, các món ăn cô làm đều mang đậm nét văn hóa Trung Hoa.
                </p>
                <a href="#"></a>
            </figcaption>
        </figure>
    </div>


    <% include layout/footer %>