</div>
</div>
</main>

<footer style="position:relative ; top: 155px; background-color: #ffbd59;">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-4">
                <div class="title">Về chúng tôi</div>
                <div class="text"><a class="footer" href="#"><i style="position: relative; top: 0;"
                            class="fas fa-map-marked-alt"></i></a> Địa chỉ: <a class="footer" href="#">900 Trần Hưng Đạo
                        - Phường 5 - Quận 5 - tp.HCM</a> </div>
                <div class="text"><a class="footer" href="#"><i style="position: relative; top: 0;"
                            class="fas fa-phone"></i></a> Hotline: <a class="footer" href="#">094 179 2255</a> </div>
            </div>
            <div class="col-sm-4">
                <a href="/"><img class="center" src="/image/logo1.jpg" alt="#" /></a>
                <div class="text"><a href="#"><i style="position: relative; top: 0;margin-right: 10px;"
                            class="fas fa-envelope"></i></a>
                    Email: <a class="footer" href="#">leerestaurant@gmail.com</a></div>
                <div class="text1">
                    <a class="footer" href="#"><i class="fab fa-facebook"></i></a>
                    <a class="footer" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="footer" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="footer" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="footer" href="#"><i class="fab fa-telegram"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="title">Map</div>
                <div class="text">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15678.989280081843!2d106.673978!3d10.753947!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752efdc609df35%3A0x7828c958c557dc!2zOTAwIMSQLiBUcuG6p24gSMawbmcgxJDhuqFvLCBQaMaw4budbmcgNSwgUXXhuq1uIDUsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2sus!4v1629683073498!5m2!1svi!2sus"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <a class="footer" href="#">
        <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;" class="text-center">&COPY;
            2021 Lee Restaurant| Design By : Hoàng Anh. All Rights Reserved. </p>
    </a>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="/js/main.js"></script>
</body>
<style>
    h5 {
        text-align: center;
    }
</style>

</html>